.product_card {
    border: 1px solid #e1e1e1; /* Light gray border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08); /* Subtle shadow for depth */
    border-radius: 5px; /* Rounded corners */
    width: 250px; /* Fixed width */
    margin: 10px; /* Spacing around cards */
    padding: 10px; /* Internal spacing */
    text-align: center; /* Center text alignment */
    transition: transform 0.5s; /* Smooth scaling effect on hover */
}

.product_image {
    width: 85%; /* Responsive width */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Cover image without distortion */
    border-radius: 50%; /* Circular image */
}

.product_name {
    margin: 10px 0 !important; /* Vertical spacing */
    font-weight: bold !important; /* Bold text */
    font-size: 20px !important; /* Larger font size */
    color: black; /* Black text color */
}

.product_price {
    color: #f00; /* Red color for price */
    font-weight: 700; /* Bold font weight */
    text-align: center; /* Center text alignment */
}

.add_to_cart {
    background-color: #FCB205; /* Yellow background */
    color: #fff; /* White text color */
    padding: 5px 10px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 15px; /* Rounded button edges */
    width: 50%; /* Fixed width for button */
    cursor: pointer; /* Pointer cursor on hover */
}

.product__container {
    display: grid; /* Grid layout for products */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    grid-gap: 1px; /* Gap between grid items */
    justify-content: center; /* Center the grid items */
    max-width: 1250px; /* Maximum width for container */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
    place-items: center; /* Center items within grid cells */
}

.product_card:hover {
    transform: scale(1.08); /* Scale up on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08); /* Maintain shadow on hover */
}

/* .price_button { */
/*     display: flex; */
/*     gap: 40px; */
/*     margin-top: 5px; */
/* } */

.product_description {
    padding: 5px; /* Internal spacing for description */
    font-size: 15px; /* Font size for description */
}
